@inject IHttpContextAccessor _httpContextAccessor
@inject UserManager<User> _userManager

<div class="container-fluid">
    <EditForm Model="model" class="d-flex flex-column justify-content-center align-content-center">
        <p class="card-title text-center"><strong>choose an item type</strong></p>
        <div class="d-flex flex-row justify-content-center justify-content-center">
            <div class="text-center">
                <InputSelect @bind-Value="@model.ItemTypeFT">
                    @foreach (var value in Enum.GetValues<ItemType>())
                    {
                        <option value="@value">@value.GetDescription()</option>
                    }
                </InputSelect>
            </div>
        </div>
        @if (model.ItemTypeFT == ItemType.Other)
        {
            <ItemOtherBuilderFT UserId="@UserId"
                                ItemTypeFT="@model.ItemTypeFT" />
        }
    </EditForm>
</div>

@code {
    [Parameter]
    public string? UserId { get; set; }

    ItemBuilderFTModel model = new ItemBuilderFTModel();

    class ItemBuilderFTModel
    {
        public ItemType ItemTypeFT { get; set; }
        public bool Initialized { get; set; }
    }

    protected override void OnInitialized()
    {
        model.Initialized = true;
    }
}
