<div class="d-flex flex-wrap justify-content-center my-1 py-1">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoToStartAsync()">
            <span class="oi oi-chevron-left"></span>
            <span class="oi oi-chevron-left"></span> newest
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoBackwardAsync()">
            <span class="oi oi-chevron-left"></span> newer
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoForwardAsync()">
            older <span class="oi oi-chevron-right"></span>
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoToEndAsync()">
            oldest <span class="oi oi-chevron-right"></span>
            <span class="oi oi-chevron-right"></span>
        </button>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-center my-1 py-1">
    @if (model.Entries != null)
    {
        @foreach (var entry in model.Entries)
        {
            <TwitterCard Title="@entry.Title"
                Timestamp="@entry.Updated.ToString("M/d/yy @ HH:mm 'GMT'")"
                ImageSource="@GenerateImageSource((((TwitterEntry)entry).AuthorId))"
                Content="@entry.Content"
                Href="@GenerateEntryHref(@entry.Id)" />
        }
    }
</div>
<div class="d-flex flex-wrap justify-content-center my-1 py-1">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoToStartAsync()">
            <span class="oi oi-chevron-left"></span>
            <span class="oi oi-chevron-left"></span> newest
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoBackwardAsync()">
            <span class="oi oi-chevron-left"></span> newer
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoForwardAsync()">
            older <span class="oi oi-chevron-right"></span>
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="async () => await GoToEndAsync()">
            oldest <span class="oi oi-chevron-right"></span>
            <span class="oi oi-chevron-right"></span>
        </button>
    </div>
</div>
<!--<div class="accordion" id="accordion" style="width: 22.5rem;">
<div class="accordion-item col-12">
                        <h2 class="accordion-header" id="">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@itemId(entry.Id!)">
                                <div class="d-flex flex-column">
                                    <img src="@GenerateImageSource((((TwitterEntry)entry).AuthorId))" class="rounded-circle" style="max-height: 75px; max-width: 75px;" />
                                </div>
                                <div class="d-flex flex-column">
                                    <hr />
                                </div>
                                <div class="d-flex flex-column">
                                    <strong><span class="oi oi-chevron-right"></span> @string.Concat(entry.Title)</strong>
                                    <strong><span class="oi oi-clock"></span> @((MarkupString)entry.Updated.ToString("M/d/yy @ HH:mm 'GMT'"))</strong>
                                </div>
                            </button>
                        </h2>
                        <div id="@itemId(entry.Id!)" class="accordion-collapse collapse" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                @*@if (entry.EntryType == EntryType.Default)
                                    @((MarkupString)@entry.Summary!)*@
                                @if (entry.EntryType == EntryType.Twitter)
                                    @((MarkupString)@entry.Content!)
                            </div>
                        </div>
                    </div>-->