<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <img src="https://avatars.githubusercontent.com/u/1919812?v=4" class="rounded-circle" style="max-height: 200px; max-width: 200px;" />
                    </div>
                    <h1 class="text-center"><strong>sorry! this is totally my fault</strong></h1>
                    <br />
                    <h2 class="text-center">this page either just plain doesn't exist or recently moved to another location where rent was less expensive and the dryer actually worked</h2>
                    <p class="text-center">but seriously, we probably just have to wait for google to index our changes ;)</p>
                    <br />
                    <h3 class="text-center">anyways, you can probably find the link you were looking for in the navigation menu</h3>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
